        <!--  EJS variables needed to render: `loggedIn`(boolean) + any in partials.ejs  -->

        <%- include('partials/header') %>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 56px;">Gallery<br>&#128444;</h1>
            </div>
        </div>

        <div class="container-1">
            <div class="col-1 text-center">
                <h2>
                    Take a look at some of the stuff weve been up to; the fun times had, the experiences shared, and the memories made - together!
                    <br>
                    A part of those moments are captured bellow in our photo and video Galleries:
                </h2>
            </div>
        </div>

        <% if (loggedIn) { %>
            <div class="container-1">
                <div class="col-1">
                    <form id="gallery-form" action="/gallery" method="POST" enctype="multipart/form-data">
                        <br>
                        <h2>Upload a new image or video:</h2>
                        <br>
                        <label for="galleryImg">Image, Video or Gif to Upload:</label><br>
                        <span class="clear-button" data-input-id="galleryImg"><br>X</span>
                        <input type="file" id="galleryImg" name="galleryImg" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg" required>
                        <br><br><br>
                        <label for="month">Month:</label>
                        <select id="month" name="month" required></select>
                        <br><br>
                        <label for="year">Year:</label>
                        <select id="year" name="year" required></select>
                        <br><br>
                        <label for="fileType">Upload a:</label>
                        <select id="fileType" name="fileType" required>
                            <option value="picture">Picture</option>
                            <option value="video">Video</option>
                            <option value="album">Album (Not Working Yet)</option>
                        </select>
                        <br><br><br>
                        <button type="submit" style="border-radius: 25px; background-color: #b10153; width: 35%;">Post to Gallery</button>
                        <br><br>
                    </form>
                </div>
            </div>
            <br><br><br>
        <% } %>

        <br><br>

        <div class="container-1">
            <div class="col-1 text-center image-center" style="font-size: 32px;">
                <label for="yearView">Year&nbsp;</label>
                <select id="yearView" name="yearView" required>
                <% years.forEach((year) => { %>
                    <option value="<%= year.year %>"><%= year.year %></option>
                <% }); %>
                </select>
            </div>
        </div>

        <br>

        <div class="container-1">
            <div class="col-1" >
                <% months.forEach(function(month) { %>
                    <nav style="padding-bottom: 50px;">
                        <p style="padding-bottom: 10px; padding-left: 5px; font-size: 28px;"><b><%= month.monthName %></b></p>
                        <div class="gallery-wrapping">
                            <% gallery.forEach(function(media) { %>
                                <% if (media.month == month.month) { %>
                                    <div class="image-container">
                                        <img class="gallery-image" src="<%= mediaUrl %><%= media.media %>" alt="Gallery Media Item" onclick="showImage('<%= mediaUrl %><%= media.media %>')"/>
                                        <% if (loggedIn && uid && media.userUid && media.userUid == uid) { %>
                                            <div class="dustbin-icon" onclick="confirmGalleryDelete('<%= media.ID %>','<%= media.userUid %>','<%= media.media %>')">
                                                🗑️
                                            </div>
                                        <% } %>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    </nav>
                <% }); %>
            </div>
        </div>

        <%- include('partials/footer') %>
