<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mencap Liverpool & Sefton - empowering learning disabilities</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <style>
            /* (#ff01a5, Mencap Pink), (#FF01A5, Pink), (#D31160, Rose), (#970361, Maroon), (#7f2855, Dark Pink/Maroon), (#b10153, Reddish), (#e07494, Pale Light Pink) */
            /* ---- Custom Font Settings ---- */
            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Regular.otf') format('opentype');
                font-weight: normal;
                font-style: normal;
            }

            /*@font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Italic.otf') format('opentype');
                font-weight: normal;
                font-style: italic;
            }

            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Light.otf') format('opentype');
                font-weight: lighter;
                font-style: normal;
            }

            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Light-Italic.otf') format('opentype');
                font-weight: lighter;
                font-style: italic;
            }

            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Bold.otf') format('opentype');
                font-weight: bold;
                font-style: normal;
            }

            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Bold-Italic.otf') format('opentype');
                font-weight: bold;
                font-style: italic;
            }

            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Heavy.otf') format('opentype');
                font-weight: bolder;
                font-style: normal;
            }

            @font-face {
                font-family: 'mencap-font';
                src: url('../assets/fonts/Mencap-Heavy-Italic.otf') format('opentype');
                font-weight: bolder;
                font-style: italic;      #ff01a5
            }*/


            /* ---- Page CSS Settings ---- */

            html, body {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
                left: 0;
                top: 0;
                color: #4f006f;
                font-family: 'mencap-font', sans-serif;
                background-color: #f7f0e2;
                /* background: linear-gradient(#d843a1, #5a0c3d, #d843a1); /* background: linear-gradient(#ff05a8, #8a0358); background-image: linear-gradient(#FF01A5 6%, #970361); */
                /*background-size: 100% 260%;*/
            }

            a {
                color: #4f006f;
                text-decoration: none;
            }

            .js-banner {
                display: block;
                position: fixed;
                top: 0;
                right: -112px;
                width: 100%;
                background-color: #afafafb0;
                color: #000;
                padding: 10px;
                text-align: center;
                pointer-events: none;
                font-weight: bolder;
                font-size: 20px;
                z-index: 99;
                overflow: auto;
            }

            .container-banner {
                display: grid;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: 1fr;
            }

            .container-1 {
                display: grid;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: 1fr;
                padding-left: 57px;
            }

            .container-2 {
                display: grid;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: 1fr 1fr;
                padding-left: 57px;
            }

            .container-3 {
                display: grid;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: 1fr 1fr 1fr;
                padding-left: 57px;
            }

            .container-4 {
                display: grid;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding-left: 57px;
            }

            .container-5 {
                display: grid;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                padding-left: 57px;
            }

            .col-1 {
                grid-column-start: 1;
            }

            .col-2 {
                grid-column-start: 2;
            }

            .col-3 {
                grid-column-start: 3;
            }

            .col-4 {
                grid-column-start: 4;
            }

            .col-5 {
                grid-column-start: 5;
            }

            .item-left {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            .item-right {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
            }

            .item-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .image-left {
                display: block;
                margin-left: 0;
                margin-right: auto;
            }

            .image-right {
                display: block;
                margin-left: auto;
                margin-right: 0;
            }

            .image-center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .text-center {
                text-align: center;
            }

            .image-viewer {
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .image {
                position: absolute;
                width: 100%;
                height: 19vw;
                opacity: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                transition: opacity 2.5s ease-in-out;
            }

            .image.active {
                opacity: 1;
            }

            .image-1 {
                background-image: url('../assets/images/banner-auto-scroller/member-staff-stall.jpeg');
            }

            .image-2 {
                background-image: url('../assets/images/banner-auto-scroller/members-holding-board.jpeg');
            }

            .image-3 {
                background-image: url('../assets/images/banner-auto-scroller/member-workshop.jpeg');
            }

            .image-4 {
                background-image: url('../assets/images/banner-auto-scroller/mencap-coffee-stand.jpeg');
            }

            .image-5 {
                background-image: url('../assets/images/banner-auto-scroller/members-pool.jpeg');
            }

            .image-6 {
                background-image: url('../assets/images/banner-auto-scroller/members-stage-show.jpeg');
            }

            .image-7 {
                background-image: url('../assets/images/banner-auto-scroller/member-gardening-shed.jpeg');
            }

            .menu {
                position: fixed;
                left: 0;
                top: 0;
                height: 100%;
                width: 110px;
                background-color: #4f006f;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                overflow: auto;
                z-index: 2;
            }

            button {
                width: 80px;
                padding: 16px 0;
                margin-bottom: 6px;
                border-radius: 50%;
                background-color: #b10153;
                border: none;
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: large;
                display: block;
                cursor: pointer;
                transition: background-color 0.6s;
            }

            button:hover {
                background-color: #ff01a5;
            }

            button a {
                color: white;
                text-decoration: none;
            }

            .home-link-text {
                padding-bottom: 10px;
            }

            .sticky-content {
                position: relative;
                z-index: 200;
            }

            .sticky-content.sticky {
                position: fixed;
                top: 0;
                right: 0;
                background-color: #4f006f;
                padding: 0px;
                width: 310px;
                font-size: 17px;
                border-radius: 0px 0px 0px 20px;
            }

            .footer {
                position: fixed;
                padding-left: 10px;
                padding-top: 15px;
                bottom: 0;
                width: 100%;
                height: 80px;
                background: #4f006f;
                color: white;
                z-index: 1;
                font-size: 14px;
            }

            .mencap-index-logo {
                width: 98%;
                height: auto;
                min-width: 340px;
            }

            .item-auto-hide {
                display: block;
            }

            .item-auto-show {
                display: none;
            }

            .contact-icons {
                height: 40px;
                width: 50px;
                padding-top: 16px;
            }

            .socials-icons {
                display: block;
            }

            .remove-list-indent {
                list-style-type: none;
                padding-left: 12px;
                margin-left: 12px;
            }

            .socials-image-padding {
                height: 49px;
                width: 49px;
            }

            .custom-submit-button {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 14px;
                cursor: pointer;
                text-decoration: underline;
            }

            .footer-logout-button {
                display: inline-block;
            }

            .container-auto-hide {
                display: grid;
            }

            .item-auto-hide {
                display: block;
            }

            .item-auto-show {
                display: none;
            }

            .clear-button {
                display: none;
                cursor: pointer;
                color: red;
                font-size: 18px;
                font-weight: bold;
                padding: 4px;
                border-radius: 50%;
                border: 1px solid red;
            }

            .gallery-image {
                width: 330px;
                height: 330px;
                object-fit: contain; /*  cover  */
                margin-right: 10px;
                cursor: pointer;
                border: 1px solid white;
            }

            .gallery-wrapping {
                display: inline-block;
                overflow-x: auto;
                white-space: normal;
                border-radius: 0px;
            }

            .image-container {
                position: relative;
                display: inline-block;
            }

            .dustbin-icon {
                position: absolute;
                bottom: 20px;
                right: 26px;
                cursor: pointer;
            }


            /* Full Image Viewer styling */
            .modal {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
            }

            .modal-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 95vh;
            }

            .modal-image {
                width: 100%;
                height: auto;
                max-height: 95vh;
                object-fit: contain;
                border: 1px solid rgba(145, 145, 145, 0.884);
                border-radius: 0px;
            }

            .close {
                position: absolute;
                top: 25px;
                right: 25px;
                color: #fff;
                font-size: 75px;
                font-weight: 900;
                cursor: pointer;
            }

            .donate-button-small {
                font-size: 22px;
            }

            .contact-form {
                background-color: #ff01a675;
                width: 60%;
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .contact-form h2 {
                text-align: center;
                font-size: 28px;
            }

            .contact-form label {
                display: block;
                margin: 10px 0 5px;
                font-size: 20px;
            }

            .contact-form input, .contact-form textarea {
                width: 100%;
                padding: 8px;
                margin-bottom: 10px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 10px;
            }

            .contact-form textarea {
                height: 100px;
            }

            .contact-form input[type="submit"] {
                background-color: #4caf50;
                color: white;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 20px;
                border-radius: 20px;
                height: 50px;
            }

            .contact-form input[type="submit"]:hover {
                background-color: #45a049;
            }

            .spacing {
                display: none;
            }


            /* ---- Small Screen Mobile CSS Settings ---- */

            @media (max-width: 1159px) {
                .image-viewer {
                    display: none;
                }
            }


            @media (max-width: 899px) {
                .container-1 {
                    width: 99.8%;
                    padding-left: 0px;
                }

                .container-2 {
                    width: 99.8%;
                    padding-left: 0px;
                }

                .container-3 {
                    width: 99.8%;
                    padding-left: 0px;
                }

                .container-4 {
                    width: 99.8%;
                    padding-left: 0px;
                }

                .container-5 {
                    width: 99.8%;
                    padding-left: 0px;
                }

                .container-6 {
                    width: 99.8%;
                    padding-left: 0px;
                }

                .js-banner {
                    right: 0px;
                    padding: 5px;
                    text-align: left;
                    font-weight: bold;
                    font-size: 16px;
                }

                .burger-menu {
                    position: fixed;
                    top: 10px;
                    left: 10px;
                    background-color: #b10153;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    border-radius: 25px;
                    transform: scale(0.8);
                    z-index: 200;
                    cursor: pointer;
                }

                .burger-icon {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                }

                .burger-icon::before {
                    content: '\2630';
                }

                .menu {
                    display: none;
                    position: absolute;
                    background-color: transparent;
                    width: 190px;
                    height: 660px;
                    top: 2px;
                    left: 60px;
                    border-radius: 15px;
                    padding-top: 0px;
                    overflow: auto;
                }

                button {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    font-size: 20px;
                    border-radius: 20px;
                }

                .menu button {
                    border: 2mm solid #ff01a5;
                    margin: 10px 0;
                    padding: 20px 0;
                }

                .menu button a {
                    color: white;
                    text-decoration: none;
                }

                .home-link-text {
                    padding-bottom: 5px;
                    padding-left: 55px;
                    font-size: 0px;
                }

                .burger-menu.active .menu {
                    display: block;
                }

                .sticky-content {
                    font-size: 18px;
                    z-index: 200;
                }

                .sticky-content.sticky {
                    font-size: 14px !important;
                    width: 225px !important;
                }

                .footer {
                    position: fixed;
                    padding-left: 10px;
                    padding-top: 10px;
                    font-size: 12px;
                }

                .mencap-index-logo {
                    height: auto;
                    width: 58%;
                }

                .item-auto-hide {
                    display: none;
                }

                .item-auto-show {
                    display: block;
                }

                .socials-icons {
                    display: none;
                }

                .socials {
                    font-size: 0px;
                    padding-right: 40px;
                }

                .contact-icons {
                    height: 30px;
                    width: 28px;
                    padding-top: 10px;
                }

                .remove-list-indent {
                    list-style-type: none;
                    padding-left: 8px;
                    margin-left: 8px;
                }

                .socials-image-padding {
                    padding-right: 25px;
                    height: 40px;
                    width: 40px;
                }

                .custom-submit-button {
                    font-size: 12px;
                }

                .gallery-wrapping {
                    display: inline-block;
                    white-space: normal;
                }

                .gallery-image {
                    margin-left: 10px;
                    margin-right: 5px;
                    margin-bottom: 10px;
                }

                .donate-button-small {
                    font-size: 16px;
                }

                .contact-form {
                    width: 80%;
                }

                .container-2-override {
                    display: block;
                }

                .container-4-override {
                    display: block;
                }

                .container-auto-hide {
                    display: none;
                }

                .item-auto-hide {
                    display: none;
                }

                .item-auto-show {
                    display: block;
                }

                .spacing {
                    display: block;
                    padding: 32px;
                }
            }


            @media (max-width: 569px) {

                .footer-donate {
                    display: none;
                }

                .w3w-text {
                    display: none;
                }
            }


            /* ---- Calendar UI Extension CSS Settings ---- */

            .fc-theme-standard .fc-list-day-cushion {
                background-color: #d843a1;
                font-size: 20px;
            }

            .fc-event {
                font-size: 16px;
                word-wrap: break-word;
            }

            .fc-list-event:hover {
                color: black;
            }

            .fc-theme-standard .fc-popover {
                background-color: #d843a1;
                background: #d843a1;
            }

            .fc .fc-toolbar-title {
                padding-right: 25px;
                font-size: 29px;
            }

            .fc .fc-view-harness {
                height: fit-content !important;
            }

            .fc .fc-view-harness-active > .fc-view {
                position: inherit;
            }

            .fc-dayGridWeek-view {
                height: 420px;
            }

            .fc-dayGridMonth-view {
                height: 750px;
            }

            .fc-timeGridDay-view {
                height: 500px;
            }

        </style>
    </head>


    <body>
        <div class="js-banner" id="js-disabled-banner">
            <p style="padding-left: 15px;">&#9888; JavaScript is disabled in your browser. Some features may not work.</p>
        </div>

        <div class="container-banner">
            <div class="col-1">
                <img src="assets/images/picture-banner.png" alt="Mencap Picure Collage Banner" style="width: 100%;">
            </div>
        </div>

        <div class="container-3" style="padding-top: 1%; padding-bottom: 1%;">
            <div class="col-1 image-center">
                <a href="/"><img class="image-center mencap-index-logo item-auto-hide" src="assets/images/mencap-logo-alt.png" alt="Mencap Logo"></a>
            </div>

            <div class="col-2" style="margin-left: 3%;">
                <div class="image-viewer item-center">
                    <div class="image image-1 active"></div>
                    <div class="image image-2"></div>
                    <div class="image image-3"></div>
                    <div class="image image-4"></div>
                    <div class="image image-5"></div>
                    <div class="image image-6"></div>
                    <div class="image image-7"></div>
                </div>
            </div>

            <div class="col-3 image-left">
                <div id="trigger-element" style="font-size: 21px;">
                    <div id="sticky-content" class="sticky-content">
                        <ul class="remove-list-indent">
                            <li style="display: inline-block;">
                                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="https://www.tiktok.com/@mencap_liverpool_sefton" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/tiktok-icon.png" alt="TikTok">
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                                </a>
                            </li>
                            <li style="display: inline-block;">
                                <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                                    <img class="socials-image-padding" src="assets/images/twitter-icon.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="tel:01517078582" target="_blank">
                                    <img class="contact-icons" src="assets/images/telephone-icon.png" alt="Phone">
                                    <br>
                                    <span>&nbsp;0151&nbsp;&nbsp;707 8582</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@mencapliverpool.org.uk" target="_blank">
                                    <img class="contact-icons" src="assets/images/email-icon.png" alt="Email">
                                    <br>
                                    <span>contact@mencapliverpool.org.uk</span>
                                </a>
                            </li>
                            <br><br>
                            <li class="donate-button-small" style="border: 2px solid white; width: fit-content; border-radius: 20px; padding: 6px; background-color: #970361;">
                                <a href="/donate" style="color: white;">&nbsp;&#128227;&nbsp;&nbsp;DONATE NOW!&nbsp;&nbsp;&#128227;&nbsp;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-3 item-auto-show" style="padding-top: 1%; padding-bottom: 1%;">
            <a href="/"><img class="image-center mencap-index-logo" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a><br>
        </div>

        <div class="burger-menu" id="burgerMenu">
            <div class="burger-icon" onclick="toggleMenu()"></div>
            <div class="menu" id="menu">
                <nav class="home-link-text">
                    <a href="/">
                        <img src="assets/images/mencap_small_buble_logo_white.png" alt="Home" style="height: 68px; width: 78px; border-radius: 25px;">
                        <br><nav class="item-center home-text">Home</nav>
                    </a>
                </nav>
                <a href="/about" style="border-radius: 49%;"><button>About Mencap</button></a>
                <a href="/find" style="border-radius: 49%;"><button>Where to find us?</button></a>
                <a href="/involve" style="border-radius: 49%;"><button>Get Involved!</button></a>
                <a href="/events" style="border-radius: 49%;"><button>The Calendar</button></a>
                <a href="/gallery" style="border-radius: 49%;"><button>The Gallery</button></a>
                <a href="/contact" style="border-radius: 49%;"><button>Contact Us</button></a>
                <a href="/cafe" style="border-radius: 49%;"><img src="assets/images/coffee-logo.png" alt="Coffee at Mencap" style=" width: 118px; border-radius: 49%;"></a>
                <% if (loggedIn) { %>
                    <nav style="padding-top: 15px;">
                        <a href="/account" style="background-color: #b10153; padding: 8px; border-radius: 20px; font-size: 19px;">Account</a>
                    </nav>
                <% } %>
            </div>
        </div>

        <br>

        <script>document.getElementById('js-disabled-banner').style.display = 'none';</script>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 50px;">Welcome to the Mencap Liverpool & Sefton website!<br><br>&#128578;</h1>
            </div>
        </div>

        <div class="container-1">
            <% if (loggedIn) { %>
                <div class="col-1">
                    <form id="article-form" action="/article" method="POST" enctype="multipart/form-data">
                        <br><br>
                        <label for="testSubmit"><h2>Post a new Article, with a pic, video or downloadable attachment:</h2></label>
                        <br>
                        <p>Give it a title</p>
                        <input type="text" id="testSubmit" name="title" placeholder="Post Title" style="width: 50%;" required>
                        <br><br>
                        <p>When did it happen?</p>
                        <input type="text" id="testSubmit" name="date" placeholder="Wednesday 19th August 2023 or Last Week or 19/08/23" style="width: 40%;" required>
                        <br><br><br>
                        <p>Write something about it</p>
                        <textarea id="testSubmit" name="body" placeholder="Tell a story..." style="width: 80%; height: 300px;" required></textarea>
                        <br><br><br><br><br>
                        <label for="imgThumb">Thumbnail Image&nbsp;&nbsp;&nbsp;(Select an image, video or gif for the <b>top</b> of your Post)</label><br>
                        <span class="clear-button" data-input-id="imgThumb"><br>X</span>&nbsp;
                        <input type="file" id="imgThumb" name="imgThumb" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg">
                        <br><br><br>
                        <label for="imgMain">Main Image&nbsp;&nbsp;&nbsp;(Select an image, video or gif for the <b>main</b> section of your Post)</label><br>
                        <span class="clear-button" data-input-id="imgMain"><br>X</span>&nbsp;
                        <input type="file" id="imgMain" name="imgMain" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg">
                        <br><br><br>
                        <label for="fileDl">File Attachement&nbsp;&nbsp;&nbsp;(Select a file you want users to be able to <b>download</b>)</label><br>
                        <span class="clear-button" data-input-id="fileDl"><br>X</span>&nbsp;
                        <input type="file" id="fileDl" name="fileDl" accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .odt, .ods, .odp, .txt, .rtf, .jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg, .mov">
                        <br><br><br><br><br>
                        <button type="submit" style="border-radius: 25px; background-color: #b10153; width: 40%;">Post Article</button>
                        <br><br><br><br>
                    </form>
                </div>
                <nav style="padding-bottom: 50px;"></nav>
                <br>
            <% } %>
        </div>

        <div class="container-1">
            <div class="col-1">
                <% articles.forEach(function(article) { %>
                    <nav style="background-color: #b10153; border-radius: 100px; color: white;">
                        <nav style="word-break: normal; padding: 40px 70px;">
                            <div>
                                <p style="font-size: 32px;"><%= article.title %></p>
                                <p style="font-size: 22px;"><%= article.date %></p>
                                <% if (article.imgThumb && mediaUrl) { %>
                                    <img class="image-center" src="<%= mediaUrl %><%= article.imgThumb %>"  alt="Article Image Thumbnail" style="max-width: 500px; max-height: 300px; border-radius: 35%; cursor: pointer;" onclick="showImage('<%= mediaUrl %><%= article.imgThumb %>')">
                                <% } %>
                                <p style="font-size: 17px; padding: 20px;"><%- article.body %></p>
                                <% if (article.fileName && mediaUrl) { %>
                                    <p style="font-size: 18px; border: 3px solid white; padding: 6px; border-radius: 55px; width: fit-content;">
                                        <a href="<%= mediaUrl %><%= article.file %>" download="<%= article.fileName %>" target="_blank">
                                            <i>Click here to download</i>&nbsp;&nbsp;<b><u><%= article.fileName %></u> &#8659;</b>
                                        </a>
                                    </p>
                                <% } %>
                                <% if (article.imgMain && mediaUrl) { %>
                                    <br>
                                    <img class="image-center" src="<%= mediaUrl %><%= article.imgMain %>" alt="Article Image" style="max-width: 80%; max-height: 500px; cursor: pointer;" onclick="showImage('<%= mediaUrl %><%= article.imgMain %>')">
                                    <br>
                                <% } %>
                                <p class="item-right" style="font-size: 13px;">Published by&nbsp;<b><%= article.author %></b>&nbsp;on <%= article.createdAt %></p>
                                <% if (loggedIn && uid && article.userUid && article.userUid == uid) { %>
                                    <input type="button" value="Delete" class="custom-submit-button" style="text-decoration: underline; cursor: pointer; font-size: 12px;" onclick="confirmArticleDelete('<%= article.ID %>','<%= article.userUid %>','<%= article.imgThumb %>','<%= article.imgMain %>','<%= article.file %>')">
                                <% } %>
                            </div>
                        </nav>
                    </nav>
                    <br><br><hr style="border-color: white;"><br><br>
                <% }); %>
            </div>
        </div>

        <nav style="padding-top: 130px;">
            <div id="footer" class="footer">
                <div class="container-3">
                    <div class="col-1" style="width: 155%;">
                        &copy; Copyright 2023 Mencap Liverpool. All rights reserved.
                        <br>Email:&nbsp;&nbsp;contact@mencapliverpool.org.uk
                        <br>Phone:&nbsp;&nbsp;0151 707 8582
                        <br>Address:&nbsp;&nbsp;Mencap Community Cottage, 6-8 Mariners Road, Crosby, L23 6SX.
                    </div>

                    <div class="col-3" style="padding-right: 15px;">
                        <nav>
                            <% if (loggedIn) { %>
                                Hi <%= username %>, <form action="/logout" method="POST" class="footer-logout-button"><input type="submit" value="Logout?" class="custom-submit-button"></button></form>
                                <br>
                            <% } else { %>
                                <a href="/login" style="text-decoration: underline;">Login</a><br>
                            <% } %>
                            <br>Registered Charity 1004262.
                            <br><nav class="footer-donate" style="padding-top: 5px;">Donate £4 by txting <b><i>MENL33 £4</i></b> to <b>70070.</b></nav>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>

        <div id="imageModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <img id="fullSizeImage" class="modal-image" src="" alt="Full Size Image">
            </div>
        </div>


        <script>
            // Burger Menu Toggle.
            function toggleMenu() {
                var menu = document.getElementById('menu');
                menu.style.display = (menu.style.display === 'none' || menu.style.display === '') ? 'block' : 'none';
                var burgerMenu = document.getElementById('burgerMenu');
                burgerMenu.classList.toggle('active');
            }



            // Info Sqaure Anchoring and Scrolling Settings.
            const stickyContent = document.querySelector('.sticky-content');
            var screenWidth = Math.min(window.innerWidth, document.documentElement.clientWidth);
            const delayPixels = 250;
            let stickyOffset;

            if (screenWidth < 900) {
                stickyContent.classList.add('sticky');
            }

            function updateStickyOffset() {
                if (stickyContent) {
                    stickyOffset = stickyContent.offsetTop;
                }
            }

            function handleScroll() {
                const triggerElement = document.getElementById('trigger-element');

                if (!triggerElement) return;

                const scrolledPastTrigger = (window.scrollY >= triggerElement.offsetTop + delayPixels);
                const isElementOffScreen = !isElementInViewport(triggerElement);

                if (isElementOffScreen && scrolledPastTrigger) {
                    stickyContent.classList.add('sticky');
                } else {
                    if (screenWidth > 900) {
                        stickyContent.classList.remove('sticky');
                    }
                }
            }

            function isElementInViewport(el) {
                const rect = el.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            }

            function handleScrollUp() {
                if (window.pageYOffset < stickyOffset) {
                    stickyContent.classList.remove('sticky');
                }
            }

            updateStickyOffset();

            window.addEventListener('resize', () => {
                screenWidth = Math.min(window.innerWidth, document.documentElement.clientWidth);
                updateStickyOffset();
                handleScroll();
                handleScrollUp();

                if (screenWidth < 900) {
                    stickyContent.classList.add('sticky');
                    document.getElementById("menu").style.display = "none";
                } else {
                    stickyContent.classList.remove('sticky');
                    handleScroll();
                    handleScrollUp();
                    document.getElementById("menu").style.display = "flex";
                }
            });
            window.addEventListener('scroll', () => {
                handleScroll();
                handleScrollUp();
            });



            // Header Image Auto-Scroller.
            const images = document.querySelectorAll('.image');
            let currentIndex = 0;

            function fadeImages() {
                images[currentIndex].classList.remove('active');
                currentIndex = (currentIndex + 1) % images.length;
                images[currentIndex].classList.add('active');
            }
            setInterval(fadeImages, 4500);



            // Articles Confirm Delete prompt.
            function confirmArticleDelete(id, uuid, thumbImg, mainImg, file) {
                var confirmation = confirm("Are you sure you want to delete your article?");
                if (confirmation) {
                    var files = [];

                    if (thumbImg.length > 1) files.push(thumbImg);
                    if (mainImg.length > 1) files.push(mainImg);
                    if (file.length > 1) files.push(file);

                    fetch('/article-delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            articleId: id,
                            userUid: uuid,
                            files: files.length ? files : null,
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.log);
                        window.location.href = data.redirect;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            }

            // Articles clear download input fields.
            function setupFileUpload() {
                var clearButtons = document.querySelectorAll('.clear-button');

                clearButtons.forEach(function(clearButton) {
                clearButton.style.display = 'none';
                clearButton.addEventListener('click', clearFileInput);
                });

                var fileInputs = document.querySelectorAll('input[type="file"]');

                fileInputs.forEach(function(fileInput) {
                fileInput.addEventListener('change', handleFileChange);
                });
            }

            function handleFileChange() {
                var inputId = this.id;
                var clearButton = document.querySelector('.clear-button[data-input-id="' + inputId + '"]');

                if (clearButton) {
                if (this.files.length > 0) {
                    clearButton.style.display = 'inline-flex';
                } else {
                    clearButton.style.display = 'none';
                }
                }
            }

            function clearFileInput() {
                var inputId = this.getAttribute('data-input-id');
                var fileInput = document.getElementById(inputId);
                var clearButton = document.querySelector('.clear-button[data-input-id="' + inputId + '"]');

                if (fileInput && clearButton) {
                fileInput.value = ''; // Clear the file input
                clearButton.style.display = 'none'; // Hide the clear button
                }
            }

            // Call the setup function when the document is ready
            document.addEventListener('DOMContentLoaded', setupFileUpload);



            // Calendar Page Form and Fields Formatting.
            function toggleTimeFields() {
                const allDayCheckbox = document.getElementById("alldaytrue");
                const timeFields = document.getElementById("timeFields");
                const startTimePicker = document.getElementById("startTimePicker");
                const endTimePicker = document.getElementById("endTimePicker");

                if (allDayCheckbox.checked) {
                    timeFields.style.display = "none";
                    startTimePicker.value = "";
                    endTimePicker.value = "";
                } else {
                    timeFields.style.display = "block";
                    startTimePicker.value = "";
                    endTimePicker.value = "";
                }
            }

            function toggleForm() {
                const dropdown = document.getElementById("formSelector");
                const recurringEvent = document.getElementById("recurringEvent");
                const eventForm = document.getElementById("eventForm");
                const daysOfWeekDiv = document.getElementById("daysOfWeek");
                const checkboxes = daysOfWeekDiv.querySelectorAll("input[type='checkbox']");

                if (dropdown.value === "recurringEvent") {
                    eventForm.style.display = "block";
                    recurringEvent.style.display = "block";
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                } else if (dropdown.value === "singleEvent") {
                    eventForm.style.display = "block";
                    recurringEvent.style.display = "none";
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                } else {
                    recurringEvent.style.display = "none";
                    eventForm.style.display = "none";
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                }
            }

            // Function to confirm deleting an event(s).
            function confirmEventDelete(id, uuid) {
                var confirmation = confirm("Are you sure you want to delete your event?");
                if (confirmation) {
                    fetch('/event-delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            eventId: id,
                            userUid: uuid
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.log);
                        window.location.href = data.redirect;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            }



            // Function to initialize the Gallery page.
            function initializePage() {
                var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

                // Get the drop-down element
                var monthDropdown = document.getElementById("month");

                // Check if the element exists before performing operations
                if (monthDropdown) {
                    // Get the current month (0-indexed)
                    var currentMonth = new Date().getMonth();

                    // Populate the drop-down with the next 12 months
                    for (var i = 0; i < 12; i++) {
                    var option = document.createElement("option");
                    option.text = monthNames[(currentMonth + i) % 12];
                    option.value = (currentMonth + i) % 12 + 1; // Adding 1 to make months 1-indexed
                    monthDropdown.add(option);
                    }
                }

                // Get the drop-down element
                var yearDropdown = document.getElementById("year");

                // Check if the element exists before performing operations
                if (yearDropdown) {
                    // Get the current year
                    var currentYear = new Date().getFullYear();

                    // Populate the drop-down with the last 5 years
                    for (var i = 0; i < 5; i++) {
                    var option = document.createElement("option");
                    option.text = currentYear - i;
                    option.value = currentYear - i;
                    yearDropdown.add(option);
                    }
                }

                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const selectedYear = urlParams.get('yearView');

                const yearViewDropdown = document.getElementById('yearView');

                if (selectedYear && yearViewDropdown) {
                    // Set the default value if there's a query parameter
                    yearViewDropdown.value = selectedYear;
                }

                // Add event listener for future changes
                if (yearViewDropdown) {
                    yearViewDropdown.addEventListener('change', function () {
                        const selectedYear = this.value;
                        updateGallery(selectedYear);
                    });
                }
            }

            // Function to update the gallery
            function updateGallery(selectedYear) {
                window.location.href = `/gallery?yearView=${selectedYear}`;
            }

            // Call the initialization function when the DOM is loaded
            document.addEventListener('DOMContentLoaded', initializePage);



            // Full Size Image Viewer
            function showImage(src) {
                // Set the source of the full-sized image
                document.getElementById('fullSizeImage').src = src;
                document.getElementById('footer').style.zIndex = '-1';
                document.getElementById('sticky-content').style.zIndex = '0';

                // Display the modal
                document.getElementById('imageModal').style.display = 'block';

                // Add click event listener to the overlay/background
                document.getElementById('imageModal').addEventListener('click', closeModalOnOverlay);
            }

            function closeModal() {
                // Hide the modal
                document.getElementById('imageModal').style.display = 'none';

                // Remove the click event listener for the overlay/background
                document.getElementById('imageModal').removeEventListener('click', closeModalOnOverlay);
                document.getElementById('footer').style.zIndex = '1';
                document.getElementById('sticky-content').style.zIndex = '200';
            }

            // Function to close the modal when clicking on the overlay/background
            function closeModalOnOverlay(event) {
                if (event.target === document.getElementById('imageModal')) {
                    closeModal();
                }
            }


            // Function to confirm deleting a gallery item(s).
            function confirmGalleryDelete(id, uuid, media) {
                var confirmation = confirm("Are you sure you want to delete your media?");
                if (confirmation) {
                    fetch('/gallery-delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            galleryId: id,
                            userUid: uuid,
                            files: [media],
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.log);
                        window.location.href = data.redirect;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
            }
        </script>
    </body>
</html>
