<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Mencap Liverpool & Sefton - empowering learning disabilities</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body>
        <div class="js-banner" id="js-disabled-banner">
            <p style="padding-left: 15px;">&#9888; JavaScript is disabled in your browser. Some features may not work.</p>
        </div>

        <div class="container-banner">
            <div class="col-1">
                <img src="assets/images/picture-banner.png" alt="Mencap Picure Collage Banner" style="width: 100%;">
            </div>
        </div>

        <div class="container-3" style="padding-top: 1%; padding-bottom: 1%;">
            <div class="col-1 image-center">
                <a href="/"><img class="image-center mencap-index-logo item-auto-hide" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a>
            </div>

            <div class="col-2" style="margin-left: 3%;">
                <div class="image-viewer item-center">
                    <div class="image image-1 active"></div>
                    <div class="image image-2"></div>
                    <div class="image image-3"></div>
                    <div class="image image-4"></div>
                    <div class="image image-5"></div>
                    <div class="image image-6"></div>
                    <div class="image image-7"></div>
                </div>
            </div>

            <div class="col-3 image-left">
                <div id="trigger-element" style="font-size: 21px;">
                    <div id="sticky-content" class="sticky-content">
                        <ul class="remove-list-indent">
                            <li>
                                <a href="tel:01517078582" target="_blank">
                                    <img class="contact-icons" src="assets/images/telephone-icon.png" alt="Phone">
                                    <br>
                                    <span>&nbsp;0151&nbsp;&nbsp;707 8582</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contact@mencapliverpool.org.uk" target="_blank">
                                    <img class="contact-icons" src="assets/images/email-icon.png" alt="Email">
                                    <br>
                                    <span>contact@mencapliverpool.org.uk</span>
                                </a>
                            </li>
                            <br><br>
                            <li class="donate-button-small" style="border: 2px solid white; width: fit-content; border-radius: 20px; padding: 6px; background-color: #970361;">
                                <a href="/donate">&nbsp;&#128227;&nbsp;&nbsp;DONATE NOW!&nbsp;&nbsp;&#128227;&nbsp;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-3 item-auto-show" style="padding-top: 1%; padding-bottom: 1%;">
            <a href="/"><img class="image-center mencap-index-logo" src="assets/images/MencapLogo-white-no-background.png" alt="Mencap Logo"></a><br>
        </div>

        <div class="burger-menu" id="burgerMenu">
            <div class="burger-icon" onclick="toggleMenu()"></div>
            <div class="menu" id="menu">
                <nav class="home-link-text">
                    <a href="/">
                        <img src="assets/images/mencap_small_buble_logo_white.png" alt="Home" style="height: 68px; width: 78px; border-radius: 25px;">
                        <br><nav class="item-center home-text">Home</nav>
                    </a>
                </nav>
                <a href="/about" style="border-radius: 49%;"><button>About Mencap</button></a>
                <a href="/find" style="border-radius: 49%;"><button>Where to find us?</button></a>
                <a href="/involve" style="border-radius: 49%;"><button>Get Involved!</button></a>
                <a href="/events" style="border-radius: 49%;"><button>The Calendar</button></a>
                <a href="/gallery" style="border-radius: 49%;"><button>The Gallery</button></a>
                <a href="/contact" style="border-radius: 49%;"><button>Contact Us</button></a>
                <a href="/cafe" style="border-radius: 49%;"><img src="assets/images/coffee-logo.png" alt="Coffee at Mencap" style=" width: 118px; border-radius: 49%;"></a>
                <% if (loggedIn) { %>
                    <nav style="padding-top: 15px;">
                        <a href="/account" style="background-color: #b10153; padding: 8px; border-radius: 20px; font-size: 19px;">Account</a>
                    </nav>
                <% } %>
            </div>
        </div>

        <div class="container-1">
            <div class="col-1 image-center">
                <ul class="remove-list-indent">
                    <li style="display: inline-block;">
                        <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                            <img class="socials-image-padding" src="assets/images/facebook-icon.png" alt="Facebook">
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="display: inline-block;">
                        <a href="https://www.tiktok.com/@mencap_liverpool_sefton" target="_blank">
                            <img class="socials-image-padding" src="assets/images/tiktok-icon.png" alt="TikTok">
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="display: inline-block;">
                        <a href="https://www.instagram.com/mencapliverpool/" target="_blank">
                            <img class="socials-image-padding" src="assets/images/instagram-icon.png" alt="Instagram">
                        </a>
                    </li>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li style="display: inline-block;">
                        <a href="https://www.facebook.com/mencapliverpool/" target="_blank">
                            <img class="socials-image-padding" src="assets/images/twitter-icon.png" alt="Facebook">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <br>

        <script>document.getElementById('js-disabled-banner').style.display = 'none';</script>

        <div class="container-1">
            <div class="col-1 image-center">
                <h1 class="text-center" style="font-size: 50px;">Welcome to the Mencap Liverpool & Sefton website!<br><br>&#128578;</h1>
            </div>
        </div>

        <div class="container-1">
            <% if (loggedIn) { %>
                <div class="col-1">
                    <form id="article-form" action="/article" method="POST" enctype="multipart/form-data">
                        <br><br>
                        <label for="testSubmit"><h2>Post a new Article, with a pic, video or downloadable attachment:</h2></label>
                        <br>
                        <p>Give it a title</p>
                        <input type="text" id="testSubmit" name="title" placeholder="Post Title" style="width: 50%;" required>
                        <br><br>
                        <p>When did it happen?</p>
                        <input type="text" id="testSubmit" name="date" placeholder="Wednesday 19th August 2023 or Last Week or 19/08/23" style="width: 40%;" required>
                        <br><br><br>
                        <p>Write something about it</p>
                        <textarea id="testSubmit" name="body" placeholder="Tell a story..." style="width: 80%; height: 300px;" required></textarea>
                        <br><br><br><br><br>
                        <label for="imgThumb">Thumbnail Image&nbsp;&nbsp;&nbsp;(Select an image, video or gif for the <b>top</b> of your Post)</label><br>
                        <span class="clear-button" data-input-id="imgThumb"><br>X</span>&nbsp;
                        <input type="file" id="imgThumb" name="imgThumb" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg">
                        <br><br><br>
                        <label for="imgMain">Main Image&nbsp;&nbsp;&nbsp;(Select an image, video or gif for the <b>main</b> section of your Post)</label><br>
                        <span class="clear-button" data-input-id="imgMain"><br>X</span>&nbsp;
                        <input type="file" id="imgMain" name="imgMain" accept=".jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg">
                        <br><br><br>
                        <label for="fileDl">File Attachement&nbsp;&nbsp;&nbsp;(Select a file you want users to be able to <b>download</b>)</label><br>
                        <span class="clear-button" data-input-id="fileDl"><br>X</span>&nbsp;
                        <input type="file" id="fileDl" name="fileDl" accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .odt, .ods, .odp, .txt, .rtf, .jpg, .jpeg, .png, .gif, .bmp, .tiff, .tif, .webp, .mp4, .webm, .ogg, .mov">
                        <br><br><br><br><br>
                        <button type="submit" style="border-radius: 25px; background-color: #b10153; width: 40%;">Post Article</button>
                        <br><br><br><br>
                    </form>
                </div>
                <nav style="padding-bottom: 50px;"></nav>
                <br>
            <% } %>
        </div>

        <div class="container-1">
            <div class="col-1">
                <% articles.forEach(function(article) { %>
                    <nav style="background-color: #ff01a64d; border-radius: 100px;">
                        <nav style="word-break: normal; padding: 40px 70px;">
                            <div>
                                <p style="font-size: 32px;"><%= article.title %></p>
                                <p style="font-size: 22px;"><%= article.date %></p>
                                <% if (article.imgThumb && mediaUrl) { %>
                                    <img class="image-center" src="<%= mediaUrl %><%= article.imgThumb %>"  alt="Article Image Thumbnail" style="max-width: 500px; max-height: 300px; border-radius: 35%; cursor: pointer;" onclick="showImage('<%= mediaUrl %><%= article.imgThumb %>')">
                                <% } %>
                                <p style="font-size: 17px; padding: 20px;"><%- article.body %></p>
                                <% if (article.fileName && mediaUrl) { %>
                                    <p style="font-size: 18px; border: 3px solid white; padding: 6px; border-radius: 55px; width: fit-content;">
                                        <a href="<%= mediaUrl %><%= article.file %>" download="<%= article.fileName %>" target="_blank">
                                            <i>Click here to download</i>&nbsp;&nbsp;<b><u><%= article.fileName %></u> &#8659;</b>
                                        </a>
                                    </p>
                                <% } %>
                                <% if (article.imgMain && mediaUrl) { %>
                                    <br>
                                    <img class="image-center" src="<%= mediaUrl %><%= article.imgMain %>" alt="Article Image" style="max-width: 80%; max-height: 500px; cursor: pointer;" onclick="showImage('<%= mediaUrl %><%= article.imgMain %>')">
                                    <br>
                                <% } %>
                                <p class="item-right" style="font-size: 13px;">Published by&nbsp;<b><%= article.author %></b>&nbsp;on <%= article.createdAt %></p>
                                <% if (loggedIn && uid && article.userUid && article.userUid == uid) { %>
                                    <input type="button" value="Delete" class="custom-submit-button" style="text-decoration: underline; cursor: pointer; font-size: 12px;" onclick="confirmArticleDelete('<%= article.ID %>','<%= article.userUid %>','<%= article.imgThumb %>','<%= article.imgMain %>','<%= article.file %>')">
                                <% } %>
                            </div>
                        </nav>
                    </nav>
                    <br><br><hr style="border-color: white;"><br><br>
                <% }); %>
            </div>
        </div>

        <%- include('partials/footer') %>
